<div class="row  mb-5">
    <div class="col-sm-12 mb-4">
        <app-progress *ngIf="status"></app-progress>
    </div>
    <div class="col-sm-6">
        <form ngNativeValidate>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre categoría:</label>
                <input type="text" [(ngModel)]="category.name" name="name" class="form-control" placeholder="Ingrese nombre de la categoría" required>
            </div>
            <button type="submit" (click)="createCategory()" class="btn btn-success" [disabled]="status">Guardar</button>
        </form>
    </div>
    <div class="col-sm-6">

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control" (keyup)="search()" [(ngModel)]="term" placeholder="Ingrese termino de busqueda" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha creación</th>
                    <th scope="col">::</th>
                </tr>
            </thead>
            <tbody>
                <tr app-categoryitem [item]="item" *ngFor="let item of categories let i = index" (canceleditevent)="canceledit()" (editevent)="edit($event)" (deleteevent)="delete($event)">
                </tr>
                <tr *ngIf="categories.length === 0" class="text-center">
                    <td colspan="3">No hay registros</td>
                </tr>
            </tbody>
        </table>

        <div class="well" *ngIf="pages.total > 1">
            <div class="btn-group">
                <button disabled class="btn btn-default">Pág {{pages.current}} de {{pages.total}}</button>
                <button disabled class="btn btn-default">Items {{items.begin}} - {{items.end}} de {{items.total}}</button>
            </div>
            <br>
            <div class="btn-group pull-right">
                <button class="btn btn-primary" [disabled]="!pages.hasPrev" (click)="prev()">Anterior</button>
                <button class="btn btn-info" [disabled]="!pages.hasNext" (click)="next()"> Siguiente</button>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<simple-notifications></simple-notifications>